<div class="container-fluid" style="background-color: #e6e4d9;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/atta.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Fourtune</p>
                    <p style="color: green;">Up To 60% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/ghee.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Ghee</p>
                    <p style="color: green;">From &#8377;800</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/burbun.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Biscuits</p>
                    <p style="color: green;">Up to 50% off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/heart.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Heart</p>
                    <p style="color: green;">Up To 75% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/nam2.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Namkeen</p>
                    <p style="color: green;">Up To 60% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/rice.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Kohinoor</p>
                    <p style="color: green;">Up To 60% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/namkin.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">salted Namkeen</p>
                    <p style="color: green;">Up to 50% off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/topoffer/toorDal.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Toor Dal</p>
                    <p style="color: green;">Up To 35% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>

</div><br><br>
