<div class="container-fluid" style="background-color: lemonchiffon;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b1.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Style</p>
                    <p style="color: green;">Up To 60% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b2.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Normal</p>
                    <p style="color: green;">From &#8377;800</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b3.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Branded</p>
                    <p style="color: green;">Up to 50% off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b4.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Best seller</p>
                    <p style="color: green;">Up To 75% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b5.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">T shirts</p>
                    <p style="color: green;">Up To 60% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b6.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nayke</p>
                    <p style="color: green;">Up To 60% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b7.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">puma</p>
                    <p style="color: green;">Up to 50% off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/b8.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Branded</p>
                    <p style="color: green;">Up To 35% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>

</div><br><br>
