<div class="container-fluid" style="background-color: #e6e4d9";>
    <div class="row">
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel.PNG" height="300px"width="300px" class="card-img-top" alt="...">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel1.PNG" height="300px"width="300px" class="card-img-top" alt="...">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel2.PNG" height="300px"width="300px" class="card-img-top" alt="...">
                
            </div>
        </div>
     </div><br><br><br>
        <!-- <div class="col-md-2"></div><br><br> -->
        
<!--         
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel3.PNG" height="200px" class="card-img-top" alt="...">
               
            </div>
            -->
              <div class="container-fluid">
        <div class="row">
        <!-- <div class="col-md-2"></div> -->

            <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel4.PNG" height="300px"width="300px" class="card-img-top" alt="...">
               
            </div>
        </div>
          <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel5.PNG" height="300px"width="300px" class="card-img-top" alt="...">
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/travel.PNG" height="300px"width="300px" class="card-img-top" alt="...">
                
            </div>
        </div>
        
        <!-- <div class="col-md-2"></div> -->


    </div>

</div><br><br>





