<div class="container-fluid" style="background-color: #e6e4d9;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/laptop.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Laptops</p>
                    <p style="color: green;">Up To 40% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/chair.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Chairs</p>
                    <p style="color: green;">From &#8377;1,800</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/wardrobe.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Wardrobes</p>
                    <p style="color: green;">From &#8377;5,999</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/furniture.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Furnitures</p>
                    <p style="color: green;">Up To 75% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/jeans.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Trendy Jeans</p>
                    <p style="color: green;">Up To 60% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/kurtas.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Trendy Kurta Set</p>
                    <p style="color: green;">Up To 60% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/wardrobe1.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Collapsable Wardrobes</p>
                    <p style="color: green;">From &#8377;5,999</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/watch.jpeg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">SmartBands</p>
                    <p style="color: green;">Up To 35% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>

</div><br>