<div class="container-fluid" style="background-color:#e6e4d9;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/infinix.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Infinix</p>
                    <p style="color: green;">Up To 30% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/iphone11.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Apple</p>
                    <p style="color: green;">From &#8377;55,800</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/moto.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Mobile</p>
                    <p style="color: green;">Up to 50% off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/poco.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Pocomola</p>
                    <p style="color: green;">Up To 55% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/realme.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Mobile</p>
                    <p style="color: green;">Up To 40% Off</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/realme7.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Smart</p>
                    <p style="color: green;">Up To 60% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/realme12.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Best Seller</p>
                    <p style="color: green;">Up to 70% off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="assets/images/redmi7.PNG" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Mobile</p>
                    <p style="color: green;">Up To 45% Off</p>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>

</div><br><br>

